﻿@model WebApplication1.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name</h2>

@if (Model.movies.Count == 0)
{
    <p>This customer has not rented any movies</p>
}
else
{
    <p>Rented movies</p>
    <ul>
        @foreach (var movie in Model.movies)
        {
            <li><a href='@("../../Movies/Movie/" + movie.Id)'>@movie.Name</a></li>
        }
    </ul>
}