﻿
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

@if (WebApplication1.Models.Customer.customers.Count == 0)
{
    <p>There are no customers yet</p>
}
else
{
    <ul>
        @foreach (var customer in WebApplication1.Models.Customer.customers)
        {
            <li><a href='@("Customers/Details/" + customer.Id)'>@customer.Name</a></li>
        }
    </ul>
}

