﻿@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h1>Customers</h1>

@if (WebApplication1.Models.Customer.customers.Count == 0)
{
    <p>There are no movies yet</p>
}
else
{
    <ul>
        @{
            foreach (var movie in Model)
            {
                <li><a href='@("Movies/Movie/" + movie.Id)'>@movie.Name</a></li>
            }
        }
    </ul>
}

